{%extends 'base.html'%}

{%block title%}
Register
{%endblock%}

{%block content%}
<body class="text-center">
<div class="container">
  
    <form method="POST" class="form bg-black">  
        {{form.hidden_tag()}}
        <h1 class="text-info">Please Create an Account</h1>
        <br>
        {{form.username.label(class="text-white text-2xl")}}
        {{form.username(class="form-control", placeholder="Username")}}

        {{form.email_address.label()}}
        {{form.email_address(class="form-control", placeholder="Email")}}

        {{form.password1.label()}}
        {{form.password1(class="form-control", placeholder="Password")}}
        
        {{form.password2.label()}}
        {{form.password2(class="form-control", placeholder="Confirm Password")}}
        <div class="checkbox mb-3">
            <h4>Already have an account?</h4>
            <a class="btn btn-danger" href="{{url_for('login_page')}}">Sign In</a>
        </div>
        <br>
        {{form.submit(class="btn btn-lg w-100 btn-info")}}
</form>
</div>

</body>


{%endblock%}